useDynLib(sourceR)
#exportPattern("^[[:alpha:]]+")
export(saBayes)
S3method(summary, source_attribution) 
export(heatmap_types)
export(subset_posterior)
export(flatten)
importFrom(Rcpp, evalCpp)
import(inline)
importFrom(Rlab, rgamma)
importFrom(Rlab, rbern)
importFrom(gtools, mixedsort, rdirichlet)
importFrom(SPIn, SPIn)
importFrom(plyr, ldply)
importFrom("methods", "is")
importFrom("stats", "dlnorm", "median", "reshape", "rlnorm", "rnorm", "runif", "terms", "as.dendrogram", "hclust")
importFrom("grDevices", "colorRampPalette")
  importFrom("graphics", "layout")
