useDynLib(sourceR)
#exportPattern("^[[:alpha:]]+")
export(saBayes)
S3method(summary, source_attribution) 
importFrom(Rcpp, evalCpp)
import(inline)
importFrom(Rlab, rgamma)
importFrom(Rlab, rbern)
importFrom(gtools, mixedsort)
importFrom(gtools, rdirichlet)
importFrom(SPIn, SPIn)
importFrom("methods", "is")
importFrom("stats", "dlnorm", "median", "reshape", "rlnorm", "rnorm", "runif", "terms")